<!--TODO: Fix navbar in small size-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">{{brand | titlecase}}</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="user;" [routerLinkActiveOptions]="{exact:true}" class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/">{{'Dashboard'}}</a>
      </li>
      <li *ngIf="user;" class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/reports">{{'Reports'}}</a>
      </li>
    </ul>
    <button (click)="doImHere()" *ngIf="user && !isCheckIn" class="btn btn-outline-success mx-5">I'm Here</button>
    <ul class="navbar-nav ml-auto">

      <ng-container *ngIf="!!user; else notLoginUserMenuItems">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/profile"></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/profile">{{user.displayName}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a (click)="logout()" [routerLink]="[]" class="nav-link">{{'Logout'}}</a>
        </li>
      </ng-container>
      <ng-template #notLoginUserMenuItems>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/login">{{'Login'}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/register">{{'Register'}}</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
